// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~admin-lte/bower_components/bootstrap/dist/css/bootstrap.css';

// Admin Lte
@import '~admin-lte/dist/css/adminlte.css';
@import '~admin-lte/dist/css/skins/_all-skins.css';

// Admin Lte
@import '~admin-lte/bower_components/font-awesome/css/font-awesome.css';
@import '~admin-lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.css';
@import '~admin-lte/bower_components/Ionicons/css/ionicons.css';


/**************************************** My Custom Style ****************************************/
/* Customer Ajax Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    background: rgb(0, 0, 0, .5);
    height: 100vh;
    z-index: 999999;
    color: #fff;
    padding-top: 45vh;
}
/* End Customer Ajax Loader */


/* Sweet Alert */
.swal2-title {
    font-size: 22px !important;
}
/* End Sweet Alert */


/* Image Style */
img.whp {
    width: 100%;
    height: auto
}
img.small {
    max-width: 120px;
    max-height: 80px;
}

/* End Image Style */


/* Others Style */
ul.npnls {
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn_separator{
    margin: 0 5px;
}
/* End Others Style */

/* Dropdown Style */
.dropdown-menu{padding: 0 15px;left: unset;right: 0;}
.dropdown-menu .dropdown-item{display: block;
    padding: 5px 0;}
.dropdown-item button{border: none;
    background: none;
    padding: 0;
    display: block;
    width: 100%;
    text-align: left;}
.dropdown-item button:focus{outline: none;}
.dropdown-item button:hover{    text-decoration: underline;}
/* End Dropdown Style */

/********************************** End My Custom Style **********************************/
