/* 
    Theme: LaravelQS
    Company Name: MD Satu
    Developer Name: MD Satu
    Developed By: www.mdsatu.com
*/

/* Customer Ajax Loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    background: rgb(0, 0, 0, .5);
    height: 100vh;
    z-index: 999999;
    color: #fff;
    padding-top: 45vh;
}


/* End Customer Ajax Loader */


/* Sweet Alert */

.swal2-title {
    font-size: 22px !important;
}


/* End Sweet Alert */


/* Image Style */

img.whp {
    width: 100%;
    height: auto
}

img.small {
    max-width: 120px;
    max-height: 80px;
}


/* End Image Style */


/* Others Style */

ul.npnls {
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn_separator{
    margin: 0 5px;
}

/* End Others Style */

/* Dropdown Style */
.dropdown-menu{padding: 0 15px;left: unset;right: 0;}
.dropdown-menu .dropdown-item{display: block;
    padding: 5px 0;}
.dropdown-item button{border: none;background: none;padding: 0;}
.dropdown-item button:focus{outline: none;}
/* End Dropdown Style */